*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    min-height: 100vh;
    display: grid;
    place-items: center;
    background-color: aliceblue;
}

.sidebar-btn {
    position: fixed;
    top: 1.5rem;
    left: 1.5rem;
    font-size: 2.5rem;
    background: transparent;
    border-color: transparent;
    color: green;
    /* animation: bounce 2s infinite ease-in-out; */
    cursor: pointer;
}

@keyframes bounce {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.5);
    }

    100% {
        transform: scale(1);
    }
}

.modal-btn {
    background-color: green;
    color: white;
    border-color: transparent;
    padding: .5rem .7rem;
    text-transform: capitalize;
    border-radius: .3rem;
    cursor: pointer;
    transition: all .3s ease;
}

.modal-btn:hover {
    background-color: rgb(121, 199, 121);
    color: black;
}